h1, h2, h3, h4, h5, h6 {
  font-family: $font__alt;
  line-height: $font__line-height-heading;
  font-weight: normal;
  margin: 0 0 20px 0;
}
h1{
  @include font-size(60);
  margin-bottom: 32px;
}
h2{
  @include font-size(50);
}
h3{
  @include font-size(40);
}
h4{
  @include font-size(34);
}
h5{
  @include font-size(28);
}
h6{
  @include font-size(24);
}
