/*--------------------------------------------------------------
14.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-meta{
  @include font-size(12);
  margin-bottom: 20px;
  span.posted-on {
	font-size: 0;
	a {
	  @include font-size(12);
	}
  }
}
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .image-navigation{
  margin: 60px 0;
  width: 100%;
}
.nav-previous,
.nav-next{
  position: relative;
  line-height: 1.2;
}
.nav-previous a,
.nav-next a{
  @include font-size(20);
  color: $color__secondary;
  font-weight: 700;
  display: inline-block;
  &:hover{
	opacity: 0.7;
  }
}
.image-navigation .nav-previous,
.image-navigation .nav-next{
  @include font-size(20);
  color: $color__secondary;
  font-weight: 700;
  display: inline-block;
  &:hover{
    opacity: 0.7;
  }
}
.nav-previous a:before,
.image-navigation .nav-previous:before{
  content:"";
  background: url(assets/images/nav-arrow-left.svg) no-repeat 0 0;
  display:block;
  padding-bottom: 35px;
  width: 30px;
  height: 10px;
}
.nav-previous a:after,
.image-navigation .nav-previous:after{
  content: "PREVIOUS";
  display: block;
  top: 20px;
  left: 0;
  position: absolute;
  color: rgba($color__secondary, 0.5);
  @include font-size(10);
}
.image-navigation .nav-previous:after{
  content: "PREVIOUS IMAGE";
}
.nav-next a:before,
.image-navigation .nav-next:before{
  content:"";
  background: url(assets/images/nav-arrow-right.svg) no-repeat 100% 0;
  display:block;
  padding-bottom: 35px;
}
.nav-next a:after,
.image-navigation .nav-next:after{
  content: "NEXT";
  display: block;
  top: 20px;
  right: 0;
  position: absolute;
  color: rgba($color__secondary, 0.5);
  @include font-size(10);
}
.image-navigation .nav-next:after{
  content: "NEXT IMAGE";
}
.entry-title{
  @include font-size(30);
  color:$color__secondary;
  margin-bottom: 10px;
  line-height: 1.2;
  word-break: break-word;
  a{
	color:inherit;
  }
}

.post-thumbnail{
  display: block;
  margin-bottom: 8px;
  img{
	display: block;
  }
}

.cat-links, .tags-links{
  @include font-size(14);
  display: block;
  margin-bottom: 15px;
  line-height: 1.3;
}

.entry-summary p{
  margin-bottom: 15px;
}
.blog .site-content,
.archive .site-content,
.search .site-content{
  padding: 60px 0 20px;
}
.blog .site-main .col-md-4 > article,
.archive .site-main .col-md-4 > article,
.search .site-main .col-md-4 > article {
  margin-bottom: 60px;
}

.error-404{
  text-align: center;
  margin-bottom: 40px;
  .search-form {
    width: 290px;
    display: inline-block;
  }
}

.mejs-container{
  margin-bottom: 30px;
}

.post-password-required input[type="submit"] {
  padding: 11px 30px;
}

.no-results{
  text-align: center;
  margin-bottom: 40px;
  .search-form {
    width: 290px;
    display: inline-block;
  }
}

.edit-link{
  @include font-size(14);
}